/* You can add global styles to this file, and also import other style files */

.bg-minty {
  background-color: #98bfcd;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.cursor-pointer {
  cursor: pointer;
}
